<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css"/>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Title</title>
</head>
<body>

<style>
  body {width: 90%; margin: 0 auto;}
</style>

<!-- 네비게이션 바 -->
<div th:replace="~{navbar :: navbarFragment}"></div>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<div layout:fragment="content">
  <!-- 여기에 페이지별 콘텐츠 삽입 -->
</div>

</body>
</html>