<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content" class="overflow-x-auto">
        <table class="table">

            <style>
                .disabled {
                    pointer-events: none; /* 클릭 무효화 */
                    cursor: not-allowed;  /* 사용 불가 느낌의 커서 */
                }
            </style>
            <!-- head -->
            <thead>
            <tr>
                <th></th>
                <th>제목</th>
                <th>작성일시</th>
                <th>작성자</th>
                <th>댓글수</th>
            </tr>
            </thead>

            <tbody>
            <!-- 질문 리스트 -->
            <tr th:each="question, loop : ${paging}">
                <th th:text="${paging.getTotalElements - (paging.number*paging.size) - loop.index}"></th>
                <td>
                    <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.title}"></a>
                </td>
                <td th:text="${question.createDate}"></td>
                <td th:if="${question.author != null}" th:text="${question.author.username}"></td>
                <td th:if="${#lists.size(question.answerList) > 0}"
                    th:text="${#lists.size(question.answerList)}">
                </td>
            </tr>
            </tbody>
        </table>

        <!--페이징처리 시작-->
        <div th:if="${!paging.isEmpty()}" class="join" >
            <div th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="join-item btn" th:href="@{|?page=${paging.number-1}|}"
                   >
                    «
                </a>
            </div>

            <div  th:classappend="${page == paging.number} ? 'active'"
                 th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}">
                <a class="join-item btn" th:href="@{|?page=${page}|}" th:text="${page}"></a>
            </div>

            <div th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="join-item btn"  th:href="@{|?page=${paging.number+1}|}"
                   >
                    »
                </a>
            </div>
        </div>
        <!-- 페이징 처리 끝 -->

    <a th:href="@{/question/create}">질문 등록</a>
    


    </div>
</html>